<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sottocorp.okhttpvolleygson" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sottocorp.okhttpvolleygson.base.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.sottocorp.okhttpvolleygson.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sottocorp.okhttpvolleygson.activities.JSONObjectActivity"
            android:label="@string/activity_title_JSON_object"
            android:parentActivityName="com.sottocorp.okhttpvolleygson.activities.MainActivity"/>

        <activity
            android:name="com.sottocorp.okhttpvolleygson.activities.JSONArrayActivity"
            android:label="@string/activity_title_JSON_array"
            android:parentActivityName="com.sottocorp.okhttpvolleygson.activities.MainActivity"/>

        <activity
            android:name="com.sottocorp.okhttpvolleygson.activities.NetworkImageViewActivity"
            android:label="@string/activity_title_network_image_view"
            android:parentActivityName="com.sottocorp.okhttpvolleygson.activities.MainActivity"/>

        <activity
            android:name="com.sottocorp.okhttpvolleygson.activities.ImageRequestActivity"
            android:label="@string/activity_title_image_request"
            android:parentActivityName="com.sottocorp.okhttpvolleygson.activities.MainActivity"/>

    </application>

</manifest>
